html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: dimgray;
  background-image: cross-fade();
}
.titulo {
    color: blue;
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.display-4 {
    color: brown;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.optionList {
    margin-top: 35px;
    font-size: 25px;
    font-family: 'Cascadia Mono';
}

.inspiration {
    margin-top: 135px;
}

.imperactive {
    color: red
}

#info {
    background-color: gray;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-bottom: 15px;
}

#results {
    background-color: grey;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#intro {
    background-color: grey;
    padding-bottom: 10%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#menu {
    background-color: lightslategrey;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 2%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}