@{
    ViewData["Title"] = "Home Page";
}

<div id="intro" class="text-center">
    <h1 class="display-4"><strong>Welcome</strong></h1>
    <div id="menu">
        <h3 class="titulo">SELECT AN OPTION:</h3>
    
        <div class="optionList">
            <div class="optionItem"><a href="~/Contacts/Index">CONTACTS</a></div>
        </div>
    </div>
</div>
<div class="inspiration">
    <div>
        <p>Losing your contacts can be really stressfull to recover them, therefore its good to keep them on the cloud.</p>
        <p class="imperactive"><strong>LET'S SAFE SOME CONTACTS!</strong></p>
    </div>
</div>

